@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white; /*change to black later*/
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-gravitas {
  font-family: var(--font-gravitas-one), serif;
}

.font-poppins {
  font-family: var(--font-poppins), serif;
}

.font-ubuntu {
  font-family: var(--font-ubuntu), serif;
}

.font-rubik {
  font-family: var(--font-rubik), serif;
}

.font-open-sans {
  font-family: var(--font-open-sans), serif;
}

.font-kavoon {
  font-family: var(--font-kavoon), serif;
}
